.fade-enter-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave {
    opacity: 0;
}

div#reversed {
    position: absolute;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
div#reversed > div {
    display: block;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.list-group-item.active {
    background-color: lightgray;
    border-color: lightgray;
    color: black;
}

.modal-backdrop {
    background-color: white;
}

.loader {
    margin: auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 500ms linear infinite;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}